LHCbDIRAC/SAMSystem/Distribution/sam/etc/query-val.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://lcg-sam-val.cern.ch:8080/same-ws/services/Database" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://lcg-sam-val.cern.ch:8080/same-ws/services/Database" xmlns:intf="http://lcg-sam-val.cern.ch:8080/same-ws/services/Database" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on May 14, 2006 (10:28:20 EDT)-->
 <wsdl:types>
  <schema targetNamespace="http://lcg-sam-val.cern.ch:8080/same-ws/services/Database" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_xsd_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://lcg-sam-val.cern.ch:8080/same-ws/services/Database"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="mapItem">
    <sequence>
     <element name="key" nillable="true" type="xsd:anyType"/>
     <element name="value" nillable="true" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <complexType name="Map">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="apachesoap:mapItem"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="queryRequest">

      <wsdl:part name="attrs" type="impl:ArrayOf_xsd_string"/>

      <wsdl:part name="filter" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="getAvailableAttributesRequest">

   </wsdl:message>

   <wsdl:message name="getAvailableAttributesResponse">

      <wsdl:part name="getAvailableAttributesReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="queryResponse">

      <wsdl:part name="queryReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:portType name="Database">

      <wsdl:operation name="query" parameterOrder="attrs filter">

         <wsdl:input message="impl:queryRequest" name="queryRequest"/>

         <wsdl:output message="impl:queryResponse" name="queryResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getAvailableAttributes">

         <wsdl:input message="impl:getAvailableAttributesRequest" name="getAvailableAttributesRequest"/>

         <wsdl:output message="impl:getAvailableAttributesResponse" name="getAvailableAttributesResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DatabaseSoapBinding" type="impl:Database">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="query">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="queryRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://query.same.egee.org" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="queryResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://lcg-sam-val.cern.ch:8080/same-ws/services/Database" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAvailableAttributes">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAvailableAttributesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://query.same.egee.org" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAvailableAttributesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://lcg-sam-val.cern.ch:8080/same-ws/services/Database" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DatabaseService">

      <wsdl:port binding="impl:DatabaseSoapBinding" name="Database">

         <wsdlsoap:address location="http://lcg-sam-val.cern.ch:8080/same-ws/services/Database"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
